name: CI - Terraform Plan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.6

      - name: Show repo files
        run: |
          pwd
          ls -la

      - name: Terraform init
        run: terraform init -input=false

      - name: Terraform fmt (format)
        run: terraform fmt -recursive

      - name: Terraform validate
        run: terraform validate || true

      - name: Terraform plan (output to file)
        run: terraform plan -out=tfplan -input=false

      - name: Show plan (human-readable)
        run: terraform show -no-color tfplan
